body{
    /* khoảng cách bên ngoài  */
    margin:0;
    background:#f2f2f2;
    /* kiểu font */
    font-family:"Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
}

.title{
    /* căn trái , phải , giữa  */
    text-align:center;
    font-size:38px;
    /* độ đậm  */
    font-weight:bold;
    margin:40px 0 25px;
}

.event-table{
    width:90%;
    max-width:1200px;
    min-width:600px;
    margin:auto;
    margin-bottom:70px;
    border-collapse:collapse;
    box-shadow:0 0 20px rgba(0,0,0,.2);
}

.event-table th{
    background:#0000ff;
    color:white;
    height:60px;
    font-size:18px;
}

.event-table td{
    /* khoảng cách bên trong  */
    padding:15px;
    /* viền  */
    border:1px solid white;
}

.row-light{
    background:white;
}

.row-dark{
    background:#e6e6e6;
}

.form-container{
    width:520px;
    margin:60px auto;
    background:white;
    padding:40px;
    /* bo góc  */
    border-radius:18px;
    /* đổ bóng  */
    box-shadow:0 0 20px rgba(0,0,0,.25);
}

.form-title{
    text-align:center;
    font-size:34px;
    font-weight:bold;
    margin-bottom:35px;
}

.form-group{
    margin-bottom:25px;
}

.form-group label{
    /* kiểu hiển thị : block , inline , inline-block , flex , none , grid */
    display:block;
    font-weight:bold;
    margin-bottom:8px;
}

.form-control{
    width:100%;
    height:45px;
    padding:10px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
}

textarea.form-control{
    height:120px;
    /* cho phép thay đổi kích thước ptu bằng cách kéo chuột  */
    /* both : chiều ngang và dọc ; none : ko đổi kích thước ; horizontal : chiều ngang ; vertical : chiều dọc  */
    
    resize:vertical;
}

.btn{
    width:100%;
    height:50px;
    /* màu nền */
    background:#3498db;
    /* màu chữ  */
    color:white;
     /* xóa viền mặc định  1px solid black : viền đen */
    border:none;
     /* bo tròn các góc 4px  */
    border-radius:4px;
    /* khi đưa chuột vào sẽ hiện hình bàn tay */
    /* cursor:text : nhập vb ; cursor:wait : đồng hồ cát , vòng tròn chờ ; 
    cursor:not-allowed : biểu tượng cấm  */
    cursor:pointer;
    font-size:18px;
    /* mọi thuộc tính thay đổi sẽ chuyển đổi mượt trong 0.3s */
    transition: transform 0.3s;
}

 /* đổi màu sau khi chuyển chuột tới */
.btn:hover{
    background: pink;
}